* { 
  margin: 0; 
}
html
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  height: 100%;
  font-family: Verdana;
}
#nav {
  background: #F60;
  color: #FFF;
  padding: 5px 5px 5px 5px;
  height: 25px;
}
#main {
  margin: 10px;
  padding: 20px;
  min-height: 85%;
  border-radius: 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border: 1px solid #CCC;
}
#search_box {
  float: right;
}
#settings {
  background: #F60;
  display: none;
  padding: 5px;
  font-size: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  position: absolute;
  top: 30px;
  right: 0px;
}
#settings tr > td:last-of-type {
  text-align: right;
}
#settings input {
  width: 25px;
  text-align: right;
  font-size: 10px;
}
#heading {
  float: left;
  padding: 4px;
}
input[type=text] {
  border: none;
  outline: none;
  border-radius: 4px;
  -moz-border-radius: 4px 4px 4px 4px;
}
input[type=button], input[type=submit] {
  border-radius: 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border: 1px solid #CCC;
}
#search_button, #settings_button {
  color: #FFF;
  background: transparent;
}
#clear_button {
  color: #F60;
  background: #FFF;
}
#results {
  font-size: 11px;
}
#results div {
  position: absolute;
  background: white;
  padding: 2px;
  border-radius: 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border: 1px solid #CCC;
  display: none;
  width: 200px;

  z-index: auto;
  opacity: 0.8;
  -moz-opacity: 1.0;
  filter:alpha(opacity=100);
}
#results div:hover {
  z-index: 1;

  opacity: 1;
  -moz-opacity: 1.0;
  filter:alpha(opacity=100);
}
#results h1 {
  text-align: center;
  font-size: 15px;
  margin: 0px 30px 0px 30px;
}
#results h2 {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  margin: 0px 30px 0px 30px;
}
#results td {
  text-align: justified;
  font-size: 8px;
  vertical-align: top;
}
#results img {
  float: right;
}
#results a.close {
	background: transparent;
  text-decoration: none;
	font-weight: bold;
  font-size: 10px;
	color: #F00;
  cursor: pointer;
  position: relative;
  left: 2px;
  top: -6px;
	float: right;
}
#results a.wiki {
	background: transparent;
  text-decoration: none;
	font-weight: bold;
  font-size: 10px;
	color: #00F;
  cursor: pointer;
  position: relative;
  left: -1px;
  top: -6px;
	float: left;
}
